body {
  /* background: url('https://i.pinimg.com/736x/46/20/ac/4620ac56247c6afb47446024296a0b06.jpg') !important; */
}
 
#masthead,
#primary {
  /*-webkit-filter: invert(100%);
  filter: invert(100%); */ 
  background-color: #fff;
  padding: 20px !important;
}
#masthead {
  background: none;
}
/* #masthead img, #primary img {
  -webkit-filter: invert(100%);
  filter: invert(100%);
} */
